<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <a href="/" class="logo">🎬 MovieAI</a>
    <div class="nav-links">
        <a href="/" class="nav-btn">Home</a>
        <a href="/overview" class="nav-btn">Overview</a>
        <a href="/contact" class="nav-btn active">Contact</a>
    </div>
</nav>

<div class="container">
    <h1>Contact</h1>

    <p>Name: Vishal Baibhav Panda</p>
    <p>Role: AI/ML Enthusiast</p>

    <p>Email: <a href="mailto:officialvishalbaibhav@gmail.com">officialvishalbaibhav@gmail.com</a></p>

    <p>Linkedin: <a href="https://www.linkedin.com/in/vishal-baibhav-panda" target="_blank">www.linkedin.com/in/vishal-baibhav-panda</a></p>

    <p>
        Feel free to reach out for collaboration, projects,
        or AI-related discussions.
    </p>
</div>

</body>
</html>