<!DOCTYPE html>
<html>
<head>
    <title>Overview</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <a href="/" class="logo">🎬 MovieAI</a>
    <div class="nav-links">
        <a href="/" class="nav-btn">Home</a>
        <a href="/overview" class="nav-btn active">Overview</a>
        <a href="/contact" class="nav-btn">Contact</a>
    </div>
</nav>



<div class="container">
    <h1>About This Project</h1>

    <p>
        This AI Movie Recommender uses advanced AI models to suggest movies
        based on your input. It analyzes movie context and generates
        intelligent recommendations.
    </p>

    <p>
        It also integrates TMDB API to fetch real movie posters,
        making the experience more interactive and visually appealing.
    </p>

    <p>
        Built using Flask, OpenRouter API, and modern UI design principles.
    </p>

    <hr style="margin: 30px 0;">

<h3>© Copyright</h3>

<p>
© 2026 Vishal Baibhav Panda. All rights reserved.
</p>

<p>
This project is developed for educational and demonstration purposes. 
Unauthorized copying, modification, or distribution of this project 
without permission is strictly prohibited.
</p>
</div>

</body>
</html>